<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <h3>{{title}}</h3>
    <form
      enctype="multipart/form-data"
      action="/api/user_register"
      method="POST"
    >
      {{#msg}}
      <div class="alert alert-success" role="alert">Registrasi berhasil</div>
      {{/msg}}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
        <small>
          <a href="/">sudah punya akun?</a>
        </small>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
